html
  head
    title History - Fiber 1
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Mono")
    link(rel="stylesheet", href="/stylesheets/history.css")
  body
    h1 Hello World
    h2 #{test}




    script(src="/scripts/history.js")