html {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  text-align: right;
  margin: auto;
  margin-right: 5px;
}

.dateInput {
  font-size: 2ch;
}

.notesInput {
  font-size: 2ch;
}

.dollarInput {
  font-size: 2ch;
  width: 40%;
}

#uploadFile {
  color: white;
  font-size: 2ch;
  max-width: 75%;
}

#balanceHeader {
  display: grid;
  max-width: 40%;
  margin-top: 5px;
  margin-left: 15px;
}

#balanceTitle {
  grid-row: 1;
  grid-column: 1;
  font-size: 3ch;
  margin: 0px;
}

#balance {
  grid-row: 2;
  grid-column: 1;
  font-size: 2.5ch;
  margin: 0px;
  margin-top: 10px;
}

#historyLink {
  grid-row: 3;
  grid-column: 1;
  color: blue;
  margin-left: 15;
  cursor: pointer;
}

#expenseContainer {
  display: grid;
  background-color: #ff7c7c;
  padding-left: 10px;
}

#expenseContainer h2 {
}

#expenseContainer form {
  display: grid;
  max-width: 40%;
  grid-row-gap: 10px;
}

#expenseContainer form input {
}

#expenseContainer form label {
}

#expenseValueLabel {
  grid-row: 1;
  grid-column: 1;
}

#expenseValue {
  grid-row: 1;
  grid-column: 2;
}

#expenseDate {
  grid-row: 3;
  grid-column: 2;
}

#expenseDateLabel {
  grid-row: 3;
  grid-column: 1;
}

#expenseNotes {
  grid-row: 4;
  grid-column: 2;
  width: 300px;
}

#expenseNotesLabel {
  grid-row: 4;
  grid-column: 1;
}

#uploadFile {
  grid-row: 2;
  grid-column: 2;
  max-width: 300px !important;
}

#expenseSubmit {
  grid-row: 5;
  grid-column: 2;
  /*  grid-column: 1 / 2;*/
}

.balanceHeaderContainer {
  display: grid;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 10px;
}

.employeeNameHeader,
.employeeBalanceHeader {
  margin: auto;
  text-align: center;
  color: #00264d;
}

.balanceHeaderContainer a {
  display: table;
  margin: auto;
  font-size: 1.4rem;
  color: #1976d2;
  text-decoration: none;
  margin-top: 4px;
}

#depositContainer {
  display: grid;
  background-color: #c5eeb6;
  padding: 20px;
  margin: auto;
  width: 70%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

body {
  margin-left: 0px;
}

select {
  width: 90%;
}

#depositContainer form {
  display: grid;
  max-width: 40%;
  grid-row-gap: 10px;
}

#depositValue {
  grid-row: 2;
  grid-column: 2;
}

#depositValueLabel {
  grid-row: 2;
  grid-column: 1;
}

#depositDate {
  grid-row: 3;
  grid-column: 2;
}

#depositDateLabel {
  grid-row: 3;
  grid-column: 1;
}

#depositNotes {
  grid-row: 4;
  grid-column: 2;
  width: 250px;
}

#depositNotesLabel {
  grid-row: 4;
  grid-column: 1;
}

#selectEmployee {
  grid-row: 1;
  grid-column: 2;
  font-size: 3ch;
}

#selectEmployeeLabel {
  grid-row: 1;
  grid-column: 1;
}

#depositSubmit {
  grid-row: 5;
  grid-column: 2;
}

@media (max-width: 768px) {
  #depositContainer {
    width: 85%;
  }
}

canvas {
  background-color: #f0f0f0;
  grid-row: 4;
  grid-column: 1;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid black;
}
